resources:
- name: thename
  type: vm-template.jinja
  properties:
    IPv4Range: 10.0.0.1/16
    network: a-new-network
    zone: null
    dupa2: {{properties["dupa"]}}
    dupa: dupaZIntermediate
    nieokryta2: {{properties["nieokryta2"]}}