resources:
- name: additional-thing-13377777
  type: additional-template.jinja
  lamo: chrumciaki
- name: some-name-for-a-network
  type: network-template.jinja
  whatever:
    zone: some-zone
  alsofake:
    fake-zone: some-fake-zone
  katamaranTemplate: {{properties["katamaran"]}}
  fujTemplate: {{fuj}}